@import '../../constants';

.page {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

.card {
    width: 200px;
    display: flex;
    flex-direction: column;
    text-decoration: none;

    .cover {
        border-radius: $radius-size $radius-size 0 0;
        width: 100%;
    }

    .text {
        background-color: white;
        padding: $common-space;

        transition: 0.3s;

        &:hover {
            background-color: $light-yellow;
        }

        .summary {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 8;
            -webkit-box-orient: vertical;
            min-height: 177px;
            color: $font-color;
        }

        .title {
            color: lightblue;
            font-family: fantasy;
            font-size: 20px;
        }
    }
}
