@import './../../App';

.episodes-page {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    padding: 20px $container-padding;
}

.episode-card {
    width: 200px;
    display: flex;
    flex-direction: column;
    text-decoration: none;

    .episode-cover {
        border-radius: 10px 10px 0 0;
        width: 100%;
    }

    .episode-text {
        background-color: white;
        padding: 10px;

        .episode-summary {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 8;
            -webkit-box-orient: vertical;
            min-height: 177px;
            color: $font-color;
        }

        .episode-title {
            color: lightblue;
            font-family: fantasy;
            font-size: 20px;
        }
    }
}
