@import '../../constants';

.character-page {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    & > div:first-child {
        width: 100%;
    }

    & > div:not(:first-child) {
        flex: 1;
    }
}

.character-page-name {
    padding: 0 0 $common-space;
    margin-bottom: $common-space;
    font-family: starjedi;
    border-bottom: 1px solid $common-black;
    text-align: center;
}

.character-page-card {
    background-color: white;
    border-radius: $common-space;
    padding: 10px;
    margin-right: $common-space;
}
