@import '../../constants';

.character-page {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    & > div:first-child {
        width: 100%;
        font-family: starjedi;
        color: $common-blue;
        padding: 0 0 $common-space;
        border-bottom: 1px solid $common-black;
    }

    & > div:not(:first-child) {
        flex: 1;
    }
}
