@import '../../constants';

.character-page {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    & > :first-child {
        width: 100%;
        margin-top: 0;
    }

    & > div:not(:first-child) {
        flex: 1;
    }
}

.character-page-card {
    background-color: white;
    border-radius: $radius-size;
    padding: $common-space;
    margin-right: $common-space;
}

.character-avatar {
    width: 100%;
    margin-bottom: $common-space;
}
