@import '../../constants';

.title {
    width: 100%;
}

.underline {
    border-bottom: 1px solid $common-black;
    padding: 0 0 $common-space;
    margin-bottom: $common-space;
}

.mainTitle,
.subtitle {
    text-align: center;
    font-family: starjedi;
    margin: 0;
}
