@import '../../constants';

.card {
    display: flex;
    height: $avatar-size;
    margin-bottom: 20px;
    text-decoration: none;
}

.image {
    width: $avatar-size;
    border-radius: $radius-size 0 0 $radius-size;
}

.text {
    padding: $common-space;
    width: 100%;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.3s;

    &:hover {
        background-color: $light-yellow;
    }
}

.main {
    color: $common-blue;
    font-family: starjedi;
    text-align: center;
}

.sub {
    color: $common-black;
    font-family: starjedi;
    text-align: center;
}

.small {
    width: 200px;
}
