@import '../../App';

.light {
    .login-page {
        background-color: $common-black;
        border-radius: 5px;

        padding: 0 $common-padding-space $common-padding-space;
        margin: auto;

        display: flex;
        flex-direction: column;
        align-items: center;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .big-logo {
        padding-left: 10px;
        color: $common-yellow;
        font-size: 38px;
        font-family: starjedi;
    }

    .login-form {
        background-color: $common-white;
        padding: $common-padding-space $common-padding-space;
        border-radius: 5px;

        .input {
            width: 300px;
            border: 0.4px solid $common-black;
            background-color: $light-yellow;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 10px;

            &:focus {
                outline: none;
                box-shadow: 0 0 4px $common-black;
            }
        }
    }

    .submit-button {
        background-color: $common-black;
        border: none;
        width: 100%;
        padding: 10px;
        border-radius: 10px;
        color: $common-yellow;
        transition: 0.3s;

        &:hover {
            background-color: lighten($common-black, 25%);
        }
    }
}
