@import '../App';

.dark {
    header {
        padding: 0 $container-padding;
        background-color: $common-black;

        .big-logo {
            text-decoration: none;
        }
    }

    .navigation {
        float: right;
        display: flex;
        flex-direction: row;
        align-items: baseline;

        ul {
            display: flex;
            list-style-type: none;

            a {
                margin-right: 10px;
                text-decoration: none;
                color: $common-blue;
                transition: 0.3s;

                &:hover {
                    color: $dark-blue;
                }

                &.active {
                    color: $dark-blue;
                    text-decoration: underline;
                }
            }
        }

        button {
            height: 45px;
            background-color: transparent;
            border: 2px solid $common-blue;
            color: $common-blue;
            transition: 0.3s;

            &:hover {
                color: $dark-blue;
                border-color: $dark-blue;
            }
        }
    }
}
