// Colors Constants -->
$font-color: #4e5b6e;

$common-yellow: #ffe300;
$light-yellow: #fffda5;

$common-blue: #4bd5ee;
$dark-blue: darken($common-blue, 25%);

$common-black: #282c34;
$common-white: #e8eaed;
// <-- Colors Constants

// Space Constants -->
$container-padding: 100px;
$common-padding-space: 20px;
// <-- Space Constants

@font-face {
    font-family: 'starjedi';
    src: url('./font/Starjedi.ttf') format('truetype');
}

.light {
    background-color: $common-white;
}

.common-button {
    padding: 10px;
    color: $common-yellow;
    font-family: starjedi;
    background-color: $common-black;
    border: none;
    border-radius: 10px;
}

html,
body,
#root,
.light {
    min-height: 100vh;
}
