@font-face {
    font-family: 'starjedi';
    src: url('./font/Starjedi.ttf') format('truetype');
}

.dark {
    background-color: #000;
}

html,
body,
#root,
.dark {
    height: 100%;
}

// Colors

$common-yellow: #ffe300;
$light-yellow: #fffda5;

$common-blue: #4bd5ee;
$dark-blue: darken($common-blue, 25%);

$common-black: #282c34;
$common-white: #f0f8ff;

// Space

$container-padding: 100px;
