// Colors

$common-yellow: #ffe300;
$light-yellow: #fffda5;

$common-blue: #4bd5ee;
$dark-blue: darken($common-blue, 25%);

$common-black: #282c34;
$common-white: #e8eaed;

// Space

$container-padding: 100px;

@font-face {
    font-family: 'starjedi';
    src: url('./font/Starjedi.ttf') format('truetype');
}

.light {
    background-color: $common-white;
}

html,
body,
#root,
.light {
    height: 100%;
}
