@import '../../App';

// Constants -->
$avatar-size: 100px;
// <-- Constants

.characters-page {
    padding: $common-padding-space $container-padding;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.characters-cards {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

.character-card {
    display: flex;
    height: $avatar-size;
    margin-bottom: 20px;
    text-decoration: none;
}

.character-avatar {
    width: $avatar-size;
    border-radius: 10px 0 0 10px;
}

.character-text {
    padding: $common-padding-space;
    width: 250px;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.3s;

    &:hover {
        background-color: $light-yellow;
    }
}

.character-name {
    color: $common-blue;
    font-family: starjedi;
    text-align: center;
}
