@import '../../constants';

.characters-page {
    padding: $common-space $container-padding;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.characters-cards {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}
