@import '../../constants';

.card {
    display: flex;
    flex-direction: row;

    .text {
        padding: 20px;
        width: 100%;
        font-family: starjedi;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

.cards {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

.cover {
    border-radius: $radius-size 0 0 $radius-size;
}

.title {
    font-size: 28px;
    color: $common-blue;
}

.subtitle {
    color: $common-black;
}

.info {
    padding: 20px;
    margin: 20px 0;
    background-color: white;
}

.summary {
    margin: 0 0 $common-space;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    max-height: 152px;
}
