@import './../../App';

.episode-page {
    padding: $common-space $container-padding;
}

.episode-side-card {
    display: flex;
    flex-direction: row;

    .episode-text {
        padding: 20px;
        width: 100%;
        font-family: starjedi;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

.episode-cover {
    border-radius: 10px 0 0 10px;
}

.episode-title {
    font-size: 28px;
    color: $common-blue;
}

.episode-subtitle {
    color: $common-black;
}

.episode-info {
    padding: 20px;
    margin: 20px 0;
    background-color: white;
}

.episode-summary {
    margin: 0 0 $common-space;
}
